[Desktop Entry]
Name=WinRAR-6.24
Exec=WinRAR
Terminal=false
Type=Application
StartupNotify=false
Icon=winrar
StartupWMClass=WinRAR
MimeType=application/x-rar:application/x-zip;application/x-compressed-rar:application/x-compressed-zip
Categories=GTK;Archiving;Compression;Utility;
